<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recent Orders - Kharidlow</title>
    <link rel="icon" type="image/x-icon" href="/assets/Kharidlow.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.min.css" />
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="/styles/tableStructure.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
        .custom-close {
            background-color: #e2e2e2 !important;
            color: #fff !important;
            border: 1px solid transparent !important;
        }

        .custom-close:hover {
            background-color: #0056b3 !important;
            border: 1px solid #0056b3 !important;
        }

        .custom-close:focus {
            outline: none !important;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5) !important;
        }

        /* Target the scrollbar */
        ::-webkit-scrollbar {
            width: 5px;
            height: 6px;
            background-color: #f1f1f1;
        }

        /* Handle of the scrollbar */
        ::-webkit-scrollbar-thumb {
            background-color: #856cea;
            border-radius: 10px;
        }

        /* Hover effect for the scrollbar handle */
        ::-webkit-scrollbar-thumb:hover {
            background-color: #6241e6;
        }

        /* Change scrollbar corner when both horizontal and vertical scrollbars appear */
        ::-webkit-scrollbar-corner {
            background-color: #f1f1f1;
        }
    </style>

</head>

<body>

    <!-- include navbar -->
    <%- include("../includes/navbar.ejs") %>

        <div class="container p-30">
            <div class="row">
                <div class="col-md-12 main-datatable">
                    <div class="card_body">
                        <div class="row d-flex">
                            <div class="col-sm-4 createSegment">
                                <!-- <a class="btn dim_button create_new"><span class="glyphicon glyphicon-plus"></span>Create
                                New</a> -->
                            </div>
                            <div class="col-sm-8 add_flex">
                                <div class="form-group searchInput">
                                    <label>Search:</label>
                                    <input type="search" class="form-control" name="" id="filterbox"
                                        placeholder="Search Order">
                                </div>
                            </div>
                        </div>
                        <div class="overflow-x">
                            <table style="width: 100%;" id="filtertable"
                                class="table cust-datatable dataTable no-footer">
                                <thead>
                                    <tr>
                                        <th style="min-width: 50px;">S. No.</th>
                                        <th style="min-width: 50px;">Order Number</th>
                                        <th style="min-width: 50px;">Date</th>
                                        <th style="min-width: 50px;">Status</th>
                                        <th style="min-width: 50px;">Total Amount</th>
                                        <th style="min-width: 50px;">Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if(orders.length> 0) { %>
                                        <% orders.forEach((order, index)=> { %>
                                            <tr>
                                                <td>
                                                    <%= index+1 %>
                                                </td>
                                                <td>
                                                    <%= order.orderNumber %>
                                                </td>
                                                <td>
                                                    <%= order.createdAt.toDateString() %>
                                                </td>
                                                <td>
                                                    <% if(order.status=="pending" ) { %>
                                                        <span class="badge bg-warning">
                                                            <%= order.status %>
                                                        </span>
                                                        <% } else if(order.status=="delivered" ) { %>
                                                            <span class="badge bg-success">
                                                                <%= order.status %>
                                                            </span>
                                                            <% } else if(order.status=="canceled" ) { %>
                                                                <span class="badge bg-danger">
                                                                    <%= order.status %>
                                                                </span>
                                                                <% } else { %>
                                                                    <span class="badge bg-info">
                                                                        <%= order.status %>
                                                                    </span>
                                                                    <% } %>
                                                </td>
                                                <td>&#8377;<%= order.grandTotal %>
                                                </td>
                                                <td style="min-width: 200px;">
                                                    <div class="btn-group" role="group">
                                                        <a href="/user/orders/<%= order._id %>"
                                                            class="btn btn-sm btn-info" data-bs-toggle="tooltip"
                                                            data-bs-placement="top" title="View">
                                                            <i class="fa-solid fa-eye"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <% }); %>
                                                <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- include footer -->
        <%- include("../includes/footer.ejs") %>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
            <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
            <script src="https://cdn.datatables.net/2.1.8/js/dataTables.min.js"></script>

            <script>

                $(document).ready(function () {
                    let dataTable = $('#filtertable').DataTable({
                        "pageLength": 20,
                        "aoColumnDefs": [{
                            "nSortable": false,
                            "aTargets": ['nosort']
                        }],
                        columnDefs: [
                            { type: 'date-dd-mm-yyyy', aTargets: [5] }
                        ],
                        "aoColumns": [
                            null,
                            null,
                            null,
                            null,
                            null,
                            null
                        ],
                        "order": false,
                        "bLengthChange": false,
                        "dom": '<"top">ct<"top"p><"clear">'
                    });
                    $("#filterbox").keyup(function () {
                        dataTable.search(this.value).draw();
                    });
                });

                $(document).ready(function () {
                    // Initialize Bootstrap tooltips
                    $('[data-bs-toggle="tooltip"]').tooltip();
                });

            </script>
</body>

</html>