<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Order - KharidLow</title>
    <link rel="icon" type="image/x-icon" href="/assets/Kharidlow.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="/styles/viewOrderAdmin.css">
</head>

<body>

    <!-- include navbar -->
    <%- include("../includes/navbar.ejs") %>

        <div class="container order-container">
            <!-- Order Information -->
            <div class="order-info text-center">
                <div class="order-number">Order No. #<%= order.orderNumber %>
                </div>
                <div class="order-date">Order Date: <%= order.createdAt.toDateString() %>
                </div>
                <div class="fullName">Status:
                    <% if(order.status=="delivered" ) { %>
                        <span class="badge rounded-pill text-bg-success fs-6">
                            <%= order.status %>
                        </span>
                        <%} else if(order.status=="pending" ) {%>
                            <span class="badge rounded-pill text-bg-warning fs-6">
                                <%= order.status %>
                            </span>
                            <%} else if(order.status=="canceled" ) {%>
                                <span class="badge rounded-pill text-bg-danger fs-6">
                                    <%= order.status %>
                                </span>
                                <%} else {%>
                                    <span class="badge rounded-pill text-bg-info fs-6">
                                        <%= order.status %>
                                    </span>
                                    <%} %>
                </div>
                <% if(order.isInvoiceCreated){ %>
                    <div class="fullName">View Invoice:
                        <a href="/user/orders/<%= order._id %>/invoice" class="btn btn-sm"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="View">
                            <i class="fa-solid fa-eye"></i>
                        </a>
                    </div>
                    <% } %>
            </div>

            <hr class="hr-line">

            <!-- Items List -->
            <div class="order-items text-center mb-4">
                <h3>Items Ordered</h3>
                <hr class="hr-line">
                <div class="items-list">
                    <% order.orderItems.forEach(item=> { %>
                        <div class="item-card">
                            <% const imagePath=item.productId && item.productId.mainImage ?
                                `${item.productId.mainImage}` : '/assets/Image_deleted_logo.png' ; %>
                                <img src="<%= imagePath %>" alt="<%= item.productName.replace(/'/g, " \\'") %>"
                                class="item-image img-thumbnail" data-bs-toggle="modal" data-bs-target="#imageModal"
                                onclick="openImageModal('<%= imagePath.replace(/'/g, "\\'" ) %>', '<%=
                                        item.productName.replace(/'/g, "\\'" ) %>')">
                                        <div class="item-details d-flex flex-column">
                                            <div>
                                                <span class="badge badge-product fs-5 my-1">
                                                    <%= item.productName %>
                                                </span>
                                            </div>
                                            <div>
                                                <span class="badge badge-info text-bg-info my-1">Quantity: <%=
                                                        item.quantity %>
                                                </span>
                                                <span class="badge badge-info text-bg-info my-1">Price: &#8377;<%=
                                                        item.price %>
                                                        <% if(item.taxType=="Inclusive" ){ %><span
                                                                style="font-size: 11px;">(Inc. GST@<%= item.taxRate %>%)
                                                            </span>
                                                            <% } else { %><span style="font-size: 11px;">(Excl. GST@<%=
                                                                        item.taxRate %>%)</span>
                                                                <% } %>
                                                </span>
                                            </div>
                                            <% if(item.instruction !="" ){ %>
                                                <div class="mt-1">
                                                    <button type="button" class="btn btn-warning instruction-btn"
                                                        data-bs-toggle="popover" data-bs-placement="right"
                                                        data-bs-custom-class="custom-popover"
                                                        data-bs-title="Your Instruction"
                                                        data-bs-content="<%= item.instruction %>">
                                                        Instruction <i class="fa-solid fa-circle-info"></i>
                                                    </button>
                                                </div>
                                                <% } %>
                                        </div>
                        </div>
                        <% }) %>
                </div>
            </div>

            <hr class="hr-line">

            <!-- Total -->
            <div class="order-info text-center">
                <div class="order-total">Total: &#8377;<%= order.grandTotal %>
                </div>
                <div class="address">Delivery Address: <br>
                    <%= order.shippingAddress.flatNo %>, <%= order.shippingAddress.streetNo %>,
                            <%= order.shippingAddress.area %>, <%= order.shippingAddress.state %>,
                                    <%= order.shippingAddress.pincode %>
                </div>
            </div>
        </div>

        <!-- Image Modal -->
        <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="imageModalLabel">Product Image</h5>
                        <button type="button" class="btn-close custom-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img id="modalImage" src="" class="img-fluid" alt="Product Image">
                    </div>
                </div>
            </div>
        </div>

        <!-- include footer -->
        <%- include("../includes/footer.ejs") %>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
            <script>
                function openImageModal(imageSrc, productName) {
                    // Update the modal image source and product name
                    document.getElementById('modalImage').src = imageSrc;
                    document.getElementById('imageModalLabel').innerText = productName;
                }

                // Attach event listeners to all images dynamically
                document.querySelectorAll('.item-image').forEach(function (image) {
                    image.addEventListener('click', function () {
                        const imageSrc = this.getAttribute('src'); // Get the image source from clicked image
                        const productName = this.getAttribute('alt'); // Get the product name from alt attribute
                        openImageModal(imageSrc, productName); // Pass the source and name to modal function
                    });
                });

                const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]');
                const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl));
            </script>

</body>

</html>