<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details - Kharidlow</title>
    <link rel="icon" type="image/x-icon" href="/assets/Kharidlow.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="/styles/product.css">
    <link rel="stylesheet" href="/styles/rating.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
</head>

<body>

    <!-- include navbar -->
    <%- include("../includes/navbar.ejs") %>

        <div class="container my-2">
            <div class="row product-details">
                <div class="col-md-6">
                    <!-- Product Image -->
                    <img id="mainImage" src="<%= productDetails.mainImage %>" alt="Product Image" class="product-img">
                    <% if((productDetails.productImages).length> 0){ %>
                        <div class="additional-image-main">
                            <div class="additional-image-container">
                                <img src="<%= productDetails.mainImage %>" alt="Product Image" class="additional-image">
                            </div>
                            <% productDetails.productImages.forEach((image)=> { %>
                                <div class="additional-image-container">
                                    <img src="<%= image %>" alt="<%= image %>" class="additional-image">
                                </div>
                                <% }) %>
                        </div>
                        <% } %>
                </div>
                <div class="col-md-6">
                    <!-- Product Info -->
                    <h2>
                        <%= productDetails.productName %>
                    </h2>
                    <p class="text-muted">Category: <span class="badge badge-info">
                            <%= productDetails.subCategory %>
                        </span></p>
                    <p class="fs-5"><strong>Price: &#8377;<%= productDetails.price %></strong></p>

                    <!-- Quantity Controls -->
                    <div class="quantity-control my-3">
                        <span type="button" id="decreaseQty"><i class="fa-solid fa-minus"></i></span>
                        <!-- <button class="btn btn-outline-secondary" id="decreaseQty">-</button> -->
                        <input type="number" id="productQty" class="form-control quantity-input"
                            value="<%= productDetails.moq %>" min="<%= productDetails.moq %>">
                        <!-- <button class="btn btn-outline-secondary" id="increaseQty">+</button> -->
                        <span type="button" id="increaseQty"><i class="fa-solid fa-plus"></i></span>
                    </div>

                    <!-- Add to Cart Button -->
                    <button class="btn btn-primary btn-lg add-to-cart-btn"
                        data-product-id="<%= productDetails._id %>">Add to Cart</button>

                    <!-- Product Description -->
                    <div class="mt-4">
                        <h4>Description</h4>
                        <p>
                            <%= productDetails.description %>
                        </p>
                    </div>
                </div>
            </div>

            <!-- Review Section -->
            <section class="review-section mt-5">
                <h4>Reviews</h4>
                <div class="review-list-container">
                    <div class="review-list">
                        <% if((productDetails.reviews).length> 0) { %>
                            <% productDetails.reviews.forEach((review)=> { %>
                                <div>
                                    <strong>
                                        <%= review.user.fullName %>
                                    </strong>
                                </div>
                                <div class="review-stars mb-3">
                                    <% for(let i=0; i<review.rating; i++) { %>
                                        <i class="fas fa-star"></i>
                                        <% } %>
                                            <span>(<%= review.rating %>)</span>
                                </div>
                                <div style="margin-top: -12px;">
                                    <%= review.comment %>
                                </div>
                                <% }) %>
                                    <% } else { %>
                                        <div>No reviews</div>
                                        <% } %>
                    </div>
                </div>

                <!-- Add a Review -->
                <hr class="divider-line">
                <div class="my-4">
                    <h5>Leave a Review</h5>
                    <form id="reviewForm">
                        <!-- Star Rating Input -->
                        <fieldset class="starability-slot">
                            <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked
                                aria-label="No rating." />
                            <input type="radio" id="first-rate1" name="rating" value="1" />
                            <label for="first-rate1" title="Terrible">1 star</label>
                            <input type="radio" id="first-rate2" name="rating" value="2" />
                            <label for="first-rate2" title="Not good">2 stars</label>
                            <input type="radio" id="first-rate3" name="rating" value="3" />
                            <label for="first-rate3" title="Average">3 stars</label>
                            <input type="radio" id="first-rate4" name="rating" value="4" />
                            <label for="first-rate4" title="Very good">4 stars</label>
                            <input type="radio" id="first-rate5" name="rating" value="5" />
                            <label for="first-rate5" title="Amazing">5 stars</label>
                        </fieldset>

                        <!-- Review Text -->
                        <textarea class="form-control mb-2" name="comment" rows="3"
                            placeholder="Write your review..."></textarea>

                        <button type="submit" class="btn btn-primary review-btn">Submit Review</button>
                    </form>
                </div>
            </section>
        </div>

        <!-- Suggested Products Section -->
        <% if(suggestedProducts.length> 0) { %>
            <section class="container suggested-products mt-5">
                <h4>Suggested Products</h4>
                <div class="suggested-products-container">
                    <div class="row">
                        <% suggestedProducts.forEach((product)=> { %>
                            <div class="col-6 col-md-4 col-lg-3 mb-3">
                                <div class="card">
                                    <div class="card-img-container">
                                        <a href="/product/<%= product._id %>"><img src="<%= product.mainImage %>"
                                                class="card-img-top" alt="<%= product.productName %>"></a>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <%= product.productName %>
                                        </h5>
                                        <div class="d-flex justify-content-between">
                                            <p class="card-text"><span class="price">Price: </span>&#8377; <%=
                                                    product.price %>
                                                    <p class="card-text">MOQ: <%= product.moq %>
                                        </div>
                                        <button class="btn btn-primary add-to-cart-btn-card"
                                            data-product-id="<%= product._id %>" data-moq="<%= product.moq %>">Add to
                                            Cart</button>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                    </div>
                </div>
            </section>
            <% } %>

                <!-- include footer -->
                <%- include("../includes/footer.ejs") %>

                    <!-- Bootstrap JS -->
                    <script
                        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
                    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                    <script>
                        // Quantity control logic
                        const decreaseQty = document.getElementById('decreaseQty');
                        const increaseQty = document.getElementById('increaseQty');
                        const productQty = document.getElementById('productQty');
                        const minQty = parseInt(productQty.min); // Get the minimum quantity

                        decreaseQty.addEventListener('click', () => {
                            let currentQty = parseInt(productQty.value);
                            if (currentQty > minQty) {
                                productQty.value = currentQty - minQty;
                            }
                        });

                        increaseQty.addEventListener('click', () => {
                            let currentQty = parseInt(productQty.value);
                            productQty.value = currentQty + minQty;
                        });

                        // Add to Cart logic with AJAX
                        $('.add-to-cart-btn').on('click', function (event) {
                            event.preventDefault();

                            const productId = $(this).data('product-id');
                            const quantity = $('#productQty').val();

                            if (quantity < minQty) {
                                swal("Oops!", "Quantity cannot be below the minimum order quantity.", "error");
                                $('#productQty').val(minQty);
                                return;
                            }

                            $.ajax({
                                url: '/user/cart',
                                method: 'POST',
                                contentType: 'application/json',
                                data: JSON.stringify({ productId: productId, moq: quantity }),
                                success: function (response) {
                                    if (response.success) {
                                        swal("Fantastic!", "Product added to cart successfully!", "success");
                                    } else {
                                        if (response.reason) {
                                            swal("Oops!", "Please login!", "error").then(() => {
                                                window.location.href = '/user/login';
                                            });
                                        } else {
                                            swal("Oops!", "Something went wrong!", "error");
                                        }
                                    }
                                },
                                error: function (xhr, status, error) {
                                    swal("Oops!", "An error occurred while adding to cart.", "error");
                                }
                            });
                        });

                        $('#reviewForm').on('submit', function (event) {
                            event.preventDefault();

                            const rating = $('input[name="rating"]:checked').val();
                            const comment = $('textarea[name="comment"]').val();

                            console.log(rating);

                            if (rating == 0) {
                                swal("Oops!", "Please select a star rating!", "warning");
                                return;
                            }

                            if (!comment) {
                                swal("Oops!", "Please write a review!", "warning");
                                return;
                            }

                            // Perform AJAX to submit the review
                            $.ajax({
                                url: '/product/review',
                                method: 'POST',
                                contentType: 'application/json',
                                data: JSON.stringify({ rating: rating, comment: comment, productId: '<%= productDetails._id %>' }),
                                success: function (response) {
                                    if (response.success) {
                                        swal("Thank you!", "Your review has been submitted!", "success");
                                    } else {
                                        console.log(response);
                                        swal("Oops!", response.message, "error");
                                    }
                                },
                                error: function () {
                                    swal("Oops!", "An error occurred while submitting the review.", "error");
                                }
                            });
                        });

                        $('.add-to-cart-btn-card').on('click', function (event) {
                            event.preventDefault();

                            const productId = $(this).data('product-id');
                            const moq = $(this).data('moq');

                            $.ajax({
                                url: '/user/cart',
                                method: 'POST',
                                contentType: 'application/json',
                                data: JSON.stringify({ productId: productId, moq: moq }),
                                success: function (response) {
                                    if (response.success) {
                                        swal("Fantastic!", "Product added to cart successfully!", "success");
                                    } else {
                                        if (response.reason) {
                                            swal("Oops!", "Please login!", "error").then(() => {
                                                window.location.href = '/user/login';
                                            });;
                                        } else {
                                            swal("Oops!", "Something went wrong!", "error");
                                        }
                                    }
                                },
                                error: function (xhr, status, error) {
                                    swal("Oops!", error, "error");
                                }
                            });
                        });

                        // Get the main image element
                        const mainImage = document.getElementById('mainImage');

                        // Add click event listeners to all additional images
                        document.querySelectorAll('.additional-image').forEach((img) => {
                            img.addEventListener('click', function () {
                                // Update the main image source with the clicked image's source
                                mainImage.src = this.src;
                            });
                        });

                    </script>
</body>

</html>